main{
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

main .texts{
    width: 54%;
    margin-top: 20px;
}

main h1{
    font-size: 50px;
    font-weight: 400;
}

main h1 span{
    font-weight: 700;
    color: #A02279;
}

main p{
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #434343;
    margin: 45px 0;
}

main .search{
    width:90%;
    padding-top: 0;
}

main .search input{
    width: 65%;
    border: 1px solid #A3A3A3;
    border-radius: 8px 0px 0px 8px;
    border-right: none;
    height: 50px;
    padding-left: 10px;
}

main .search input:focus{
    outline: none;
}

main .search button{
    width: 35%;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 0px 8px 8px 0px;
    border: none;
    height: 50px;
    color: white;
}

main .images{
    display: flex;
}

main .images div{
    display: flex;
    flex-direction: column;
    margin: 0 7px;
}

main .images div img{
    margin-bottom: 10px;
}

main .images div.col-1{
    margin-top: 100px;
}

.bottom-stipe{
    display: flex;
    justify-content: space-between;
    padding: 5px 100px;
    background: #A02279;
    margin: 50px 0;
}

@media screen and (max-width: 850px) {
    main{
        /* flex-direction: column; */
        display: block;
        padding: 0 4%;
        overflow: hidden;
        margin-top: 50px;
    }

    main .texts{
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0;
    }

    main .images{
        margin: 0 auto;
        justify-content: center;
    }

    main .images div.col-1{
        margin-top: 40px;
    }

    main .images img{
        /* width: 170px; */
        width: 40vw;
        height: auto;
    }

    main .texts h1{
        font-size: 40px;
    }

    main .texts p{
        font-size: 20px;
    }

    main .texts .search{
        margin-bottom: 30px;
    }

    .bottom-stipe{
        padding: 5px 5%;
    }

    .bottom-stipe img{
        width: 20%;
    }

}

@media screen and (max-width: 450px) {
    .bottom-stipe img{
        width: 25%;
    }
}