.adventures{
    padding: 0 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.adventures h1{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 45px;
}

.adventures .cards-con{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .adventures .cards-con{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1025px) {
    .adventures .cards-con{
        grid-template-columns: 1fr 1fr;
        min-width: 70vw;
    }
}

@media screen and (max-width: 600px) {
    .adventures .cards-con{
        grid-template-columns: 1fr;
    }
    .adventures h1{
        font-size: 39px;
    }
}