.places .cards-con{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    padding: 0 5%;
    margin-bottom: 75px;
}

.places .filters{
    padding: 0 5%;
    margin: 50px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.places .filters .texts{
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-between;
}

.places .filters .setting{
    display: flex;
    align-items: center;
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    padding: 10px;
}

.places .filters .setting p{
    margin-right: 20px;
}

/* @media screen and (max-width: 1200px) {
    .places .cards-con{
        grid-template-columns: 1fr 1fr 1fr;
    }
} */

@media screen and (max-width: 850px) {
    .places .cards-con{
        grid-template-columns: 1fr 1fr;
        max-width: 90vw;
    }

    .places .filters .texts{
        width: 75%;
        overflow: scroll;
    }
    .places .filters .texts p{
        margin-right: 20px;
        white-space: nowrap;
    }
}

/* @media screen and (max-width: 600px) {
    .places .cards-con{
        grid-template-columns: 1fr;
    }
} */

@media screen and (max-width: 600px) {

    .places .cards-con{
        grid-template-columns: 1fr;
    }

    .places .filters .texts{
        width: 58%;
        overflow: scroll;
    }
    .places .filters .texts p{
        margin-right: 20px;
        white-space: nowrap;
    }
}