.card{
    padding: 4%;
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    width: 282px;
    /* height: 372px; */
}

.card img{
    width: 100%;
}

.card div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.card div h4{
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
}

.card div p{
    font-weight: 400;
    font-size: 12px;
}

.card svg{
    margin-right: 5px;
}

@media screen and (max-width: 450px) {
    /* .card{
        width: 73vw;
    } */
}