.discover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
    margin-top: 70px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    color: white;
}

.discover .content{
    width: 35%;
}

.discover h2{
    font-weight: 700;
    font-size: 48px;
}

.discover p{
    font-weight: 400;
    font-size: 18px;
    margin: 25px 0;
    line-height: 35px;
}

.discover .content button{
    padding: 14px 33px;
    background: #fff;
    color: #A02279;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}

.discover .img{
    max-width: 60%;
}

.discover .img img{
    width: 100%;
}

@media screen and (max-width: 850px) {
    .discover{
        display: block;
    }

    .discover .content{
        width: 100%;
    }

    .discover .img{
        width: 90vw;
        margin-top: 40px;
        max-width: none;
    }
    .discover .img img{
        width: 100%;
    }
}